@import "normalize.css";
@import "fontawesome.min.css";

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v27-latin-regular.eot");
    src: local("Roboto Regular"),
    local("Roboto-Regular"),
    url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v27-latin-regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'FoundersGroteskX-CndWeb-Bld';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v27-latin-500.eot");
    src: local("Roboto"),
    url("../fonts/roboto-v27-latin-500.woff2") format("woff2"),
    url("../fonts/roboto-v27-latin-500.woff") format("woff");
    font-display: swap;
}

.document {
    /* ie11 goodbye */
    scroll-behavior: smooth;
}

.page {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 16px;
    background-color: #fff;
}

.page__inner {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.book-content__list {
    padding: 0;
    margin: 0;
}

.book-list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.book-item {
    width: 50%;
    text-align: center;
}

.book-item__inner {
    border: 8px solid lightgray;
    margin: 5px;
    position: relative;
}

.book-item__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.book-item__status-bar {
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 0;
    padding: 3px;
    display: block;
    background-color: lightskyblue;
    color: white;
    font-size: 10px;
}

.book-item__book-image-container {
    margin: 0;
    max-width: 66%;
    padding: 15px 17% 0 17%;
    background-color: white;
}

.book-item__image {
    max-width: 100%;
    display: block;
}

.book-item__content {
    padding-top: 20px;
    padding-bottom: 5px;
}

.book-item__title {
    text-transform: uppercase;
    color: darkgray;
    font-size: 10px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
}
.stars-block {
    font-size: 9px;
}

.star__inner{
    position: absolute;
    z-index: 5;
    font-size: inherit;
    display: block;
    top: 0; left: 0; bottom: 0;
    overflow: hidden;
    width: 0;
}

.stars-theme {
    color: gold;
}
.star__fill_0 {
    width: 0;
}
.star__fill_10 {
    width: 10%;
}
.star__fill_20 {
    width: 20%;
}
.star__fill_30 {
    width: 30%;
}
.star__fill_40 {
    width: 40%;
}
.star__fill_50 {
    width: 50%;
}
.star__fill_60 {
    width: 60%;
}
.star__fill_70 {
    width: 70%;
}
.star__fill_80 {
    width: 80%;
}
.star__fill_90 {
    width: 90%;
}
.star__fill_100 {
    width: 100%;
}
.book-item__rating {
    margin: 5px 0;
}
.star__outer {
    position: relative;
    z-index: 1;
    margin: 0 1px;
}

.book-item__genre {
    margin: 0 0 0 0;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
}

.book-price {
    font-size: 12px;
    font-weight: bold;
}

.book-price-new {
    color: red;
}

.book-price-old {
    text-decoration: line-through;
}

.button {
    text-transform: uppercase;
    font-size: 8px;
    border-radius: 0;
    outline: none;
    border: 0;
    padding: 7px 10px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.button-widget {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: none;
    font-size: 10px;
    background-color: #efefef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.button_cart_icon {
    font-size: 10px;
    margin-right: 5px;
}

.button_add {
    color: white;
    background-color: skyblue;
}

.button_add:hover {
    background-color: #fff;
    color: #62a2d2;
    outline: 1px solid #62a2d2;
}

.book-item__button {
    position: relative;
    z-index: 10;
    margin-top: 15px;
    margin-bottom: 10px;
}

.button-widget_active {
    color: #62a2d2;
}

.button-widget:hover {
    background-color: #62a2d2;
    cursor: pointer;
    color: #fff;
}

.button-widget_active:hover {
    background-color: #fff;
    cursor: pointer;
    color: #62a2d2;
    border: 2px solid #62a2d2;
}

.book-item__button-follow {
    position: absolute;
    right: 5px;
    top: 5px;
}

.book-item__button-favorite {
    position: absolute;
    right: 5px;
    top: 35px;
}

.book-item__button-compare {
    position: absolute;
    right: 5px;
    top: 65px;
}

@media (min-width: 400px) {
    .book-item__status-bar {
        font-size: 12px;
    }

    .button {
        padding: 10px 15px;
        font-size: 10px;
    }

    .button_cart_icon {
        font-size: 12px;
    }

    .button-widget {
        height: 35px;
        width: 35px;
        font-size: 12px;
    }

    .book-item__button-follow {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .book-item__button-favorite {
        position: absolute;
        right: 10px;
        top: 50px;
    }

    .book-item__button-compare {
        position: absolute;
        right: 10px;
        top: 90px;
    }
}

@media (min-width: 600px) {
    .book-item {
        width: 33.333%;
    }

    .book-item__inner {
        border: 12px solid #efefef;
        margin: 5px 10px;
    }

    .book-item__title {
        font-size: 12px;
    }

    .book-item__rating {
        font-size: 10px;
    }

    .book-item__rating {
        margin: 8px 0;
    }

    .star__outer {
        margin: 0 2px;
    }

    .book-item__genre {
        font-size: 14px;
        margin: 2px 0;
    }

    .book-price {
        font-size: 14px;
        padding: 0 1px;
    }
}

@media (min-width: 850px) {
    .button-widget {
        height: 45px;
        width: 45px;
        font-size: 16px;
    }

    .book-item__button-follow {
        position: absolute;
        right: 15px;
        top: 10px;
    }

    .book-item__button-favorite {
        position: absolute;
        right: 15px;
        top: 60px;
    }

    .book-item__button-compare {
        position: absolute;
        right: 15px;
        top: 110px;
    }
}

@media (min-width: 1025px) {
    .book-item {
        width: 33.333%;
    }

    .book-item__inner {
        border: 23px solid #efefef;
        margin: 10px 20px;
        overflow: hidden;
        background-color: #efefef;
    }

    .book-item__inner:hover .book-item__button {
        bottom: 2px;
    }

    .book-item__inner:hover .book-item__content {
        top: -30px;
        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    .book-item__inner:hover .book-item__button-favorite,
    .book-item__inner:hover .book-item__button-compare,
    .book-item__inner:hover .book-item__button-follow {
        right: 15px;
    }

    .book-item__status-bar {
        left: 10px;
        top: 10px;
        font-size: 14px;
        padding: 2px 5px;
    }

    .book-item__book-image-container {
        padding-top: 35px;
        background-color: #fff;
    }

    .book-item__content {
        padding-top: 50px;
        padding-bottom: 20px;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        background-color: #fff;
        top: 0px;
        position: relative;
    }

    .book-item__title {
        font-size: 14px;
    }

    .stars-block {
        font-size: 12px;
    }

    .star__outer {
        margin: 0 3px;
    }

    .book-item__genre {
        font-size: 16px;
        margin: 5px 0;
    }

    .book-price {
        font-size: 17px;
    }

    .button {
        padding: 10px 30px;
        font-size: 12px;
        width: 165px;
    }

    .book-item__button {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -50px;
        margin: auto;
    }

    .button_cart_icon {
        font-size: 16px;
    }

    .book-item__button-follow {
        position: absolute;
        right: -50px;
        -webkit-transition: right 0.2s ease-in-out;
        transition: right 0.2s ease-in-out;
    }

    .book-item__button-favorite {
        position: absolute;
        right: -50px;
        top: 70px;
        -webkit-transition: right 0.3s ease-in-out;
        transition: right 0.3s ease-in-out;
    }

    .book-item__button-compare {
        position: absolute;
        right: -50px;
        top: 130px;
        -webkit-transition: right 0.4s ease-in-out;
        transition: right 0.4s ease-in-out;
    }
}